@import './scss/variables.scss';

.layout {
  min-width: 60em;
  text-align: center;
  margin: 0 auto;
}

.addTodo {
  &__wrapper{
    width: 60em;
    max-width: 60em;
    margin: 2em auto;
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__row .group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 1em;
  }

  &__row .textInput {
    min-width: 28em;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 1.2em;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  &__row .textInput::placeholder {
    color: transparent;
  }

  &__row .textInput:placeholder-shown~.label {
    font-size: .9em;
    cursor: text;
    top: 20px;
    left: 0;
  }

  label,
  &__row .textInput:focus~.label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: .7em;
    color: #9b9b9b;
    left: 0;
  }

  &__row .textInput:focus~.label {
    color: #0b64d8;
  }

  &__row .textInput:focus {
    border-bottom: 1px solid #0b64d8;
  }

}

.todos {
  &__wrapper{
    width: 60em;
    max-width: 60em;
    // margin: 0.6em 2em;
    margin: 0 auto;
    text-align: center;
  }
 
  &__inner{
    width: 100%;
    display: flex;
    flex: 0 0 33.333%;
    justify-content: left;
    align-items: stretch;
    align-self: stretch;
    align-content: stretch;
    height: 50px;
  }

  &__text{
    line-height: 1.2em;
    word-spacing: 2px;
    font-stretch: expanded;
    font-size: 1em;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid gray;
    border-radius: 3px;
  }

  &__button{
    width: 2em;
    height: 2em;
  }

  &__button-edit{
    background-color: green;
  }

  &__button-remove{
    background-color: red;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}